<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= auto.nombre %> </title>
   

</head>
<body>
      
    <h2>ID: <%= auto.id %> </h2>
    <h1>Marca: <%= auto.nombre %> </h1>
    <h2>Tiempo de fabricación: <%= auto.tiempo %> horas </h2>
    <button type="button"> <a href="/autos">Atras</a></button>
</body>
</html>