<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XYZ</title>
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <div class="container">
    <h1>ADMINISTRACIÓN EMPRESA XYZ</h1>
    
    <div class="button">
         <button type="button"> <a href="/admin/autos">Autos</a></button>
         <button type="button"><a href="/admin/registros">Registros</a></button>
         <button type="button"><a href="/">Salir </a></button>
        </div> 
        </div> 
</body>